.ory-plugins-layout-spoiler-toggle {
  background-color:  grey;
  text-align: left;
  cursor: pointer;
}
.ory-plugins-layout-spoiler-toggle-title {
	color: black
}
.spoiler {
  border: 4px solid black;
}

.spoiler .header {
  border-bottom: 1px solid black;
  background: black;
  padding: 4px 8px;
  cursor: pointer;
}

.spoiler .content {}
